@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');




/* HEADER NAVBAR*/ 

header {
    margin-bottom: 3rem;

}

#logo-navbar {
    width: 4rem;
    height: 4rem;
}

nav {  
    min-height: 10vh; 
}

/* BANNER */
#heroe-container {
    min-height: 90vh;
}

.container-item1 {
    transform: rotate(-15deg);
}

#heroe-banner {
    min-height: 90vh;
    display: flex;
    background-image: url(../assets/logobanner.png);
    background-size: cover;    
    
}

h1 {
    height: 100%;
    font-size: 3.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Mochiy Pop P One', sans-serif;
}

/* CAROUSEL */

#carouselExampleControls {
    margin: 0 1.5rem;
}

.foto-carousel-1 {
    height: 70vh;
    width: 100%;
    background-image: url(../assets/the-pet-shop-steve-crisp.jpg);
    background-position: bottom;
    background-size: cover;
}

.foto-carousel-2 {
    height: 70vh;
    width: 100%;
    background-image: url(../assets/pet-shop-jenny-newland.jpg);
    background-position: top;
    background-size: cover;
}

.foto-carousel-3 {
    height: 70vh;
    width: 100%;
    background-image: url(../assets/Pet-Shop_WEB_a4ba0aed-5a41-414a-afb7-5739da148c44.jpg);
    background-position: center;
    background-size: cover;
}


/*MAIN */

main {
    margin: 0 1.5rem;
}

.main-container {
    min-height:90vh;
    display: flex;
}

.div-main {
    min-height: 90vh;
    font-family: 'Mochiy Pop P One', sans-serif;
    
}

main .div-main-1 {
    display: flex; 
    color: white;
     align-items: center;
    justify-content: center;
    border-radius: 0 17rem 10rem 10rem ;
    margin-top: 3rem;
}

main .circle-container {
    padding-top: 3rem;
    min-height: 60vh;
    border-radius: 25%;
    width: 80%;
}

main .div-main-1 h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    
}

main .div-main-1 p{
    font-size: 0.9rem;
    text-align: justify;
    
}
    
    


main .div-main-2 {
    background-image: url(../assets/veterinario-img.png);
    background-position: top;
    background-size: cover;
    
}

#container-main-1 {
    margin-bottom: 3rem;
}

/* FOOTER */

footer {
    height: 10vh;
    font-family:'Mochiy Pop P One', sans-serif;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    height: 10vh;
}

footer ul li a {
    text-decoration: none;
    color: white;
}
